<h1 class = 'text-center'>Rooms Available</h1>

<table class = 'table'>
  <thead class= 'thead-dark'>
    <tr>
      <th scope = 'col'>Name</th>
      <th scope = 'col'>Capacity</th>
      <th scope = 'col'>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.capacity %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class = 'buttons'>

<%= link_to 'New Room', new_room_path, class: 'btn btn-dark' %>

</div>