<div class ='rooms-page'>
  <p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-dark' %> |
<%= link_to 'Back', rooms_path %>
</div>