/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 *= require select2

 */
.container {
    max-width: 1800px !important;
}

.meeting-link {
    background-color: rgb(231, 233, 96);
    border-radius: 5px;
    padding: 0 5px;
    margin: 1px auto;
}
.email-address {
    color: white;
    margin: 0 2px;
}

 .card {
     margin: 150px auto;
     box-shadow: 1px 2px 5px 2px rgb(131, 128, 128);
     border-radius: 10px;
 }

 .buttons {
     display: flex;
     justify-content: space-between;
 }

.refact {
    display: block;
    margin: 100px auto;
    box-shadow: 2px 2px 5px 1px rgb(90, 87, 87);
    border-radius: 10px;
}

.admin-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}
.user-card{
    margin: 10px auto;
    background: rgba(255, 251, 251, 0.616);
    box-shadow: 1px 2px 6px rgb(231, 243, 216);
}
.panel-tab {
    z-index: 2;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgb(185, 180, 180);
    padding: 15px;
}

.calendar-view{
    margin: 150px auto;
    width: 1000px;
    padding: 10px;
    z-index: 2;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 2px rgb(223, 240, 186);
}